.app {
  position: relative;
  min-height: 100vh;
}

.global-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.fade-section {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  will-change: opacity, transform;
}
